
<table class="table">
    <thead class="bg-primary bg-opacity-25">
      <tr  class="text-center">
        <th scope="col">#</th>
        <th scope="col">CODIGO</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">CANTIDAD</th>
        <th scope="col">PRECIO</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let producto of listaProductos , index as i  ">
        <td>{{i+1}}</td>
        <td>{{producto.codPro}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.cantidad}}</td>
        <td>{{producto.precio}}</td>
      </tr>
    </tbody>
  </table>